/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

ul {
  list-style-type: none;
}

li {
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
}

li:hover {
  background-color: aliceblue;
}

* {
  font-family: "Times New Roman", Times, serif;
}
